<div class="row">
    <div class="col-8">
        <div class="CartContainer">
            <div class="row">
              <div class="col-12">
                <h3>Cart Items</h3>
              </div> 
            </div>
            <div class="row pt-1" > 
              <div class="col-3">
                <img class="img-fluid" style="height: 200px;" [src]="'https://media.istockphoto.com/id/1248263998/photo/isolated-high-tech-open-laptop-with-abstract-vibrant-color-screen-on-a-dark-background.webp?b=1&s=170667a&w=0&k=20&c=cH1KTmzrd-NOkRiLAw_gJOJ9I4Qsylw1yOmYTQmDwfw='" class="card-img-top">
              </div>
              <div class="col-3">
               cart product Name
              </div>
              <div class="col-2">
                cart product Quantity
              </div>
              <div class="col-2 text-end">
               cartproduct Price
              </div>
              <div class="col-2 text-end">
                <button class="btn btn-sm btn-danger" >Remove</button>
               </div>
            </div>
           
            <div class="row">
              <div class="col-3">

              </div>
              <div class="col-9">
                <hr>
              </div>
            </div>
           
            <div class="row">
              <div class="col-2">
                 
              </div>
              <div class="col-2">
                 
              </div>
              <div class="col-4">
                <div class="Subtotal">Sub-Total</div>
                <div> <small> 2 items</small></div>
              </div>
              <div class="col-4 text-end">
                <strong> $</strong>
              </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-lg btn-success" > Make Sale</button>
                </div>
            </div>
             
          </div>
    </div>
</div>
